amqp==2.5.2
attrs==20.2.0
chardet==3.0.4
click==7.1.2
coverage==5.0.3
cycler==0.10.0
flasgger==0.9.4
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-SQLAlchemy==2.4.1
GDAL==2.4.1
gunicorn==20.0.4
httpie==2.0.0
idna==2.6
importlib-metadata==2.0.0
importlib-resources==3.0.0
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
numpy==1.19.2
packaging==20.4
pandas==1.1.3
pika==0.12.0
Pillow==7.2.0
Pint==0.16.1
Pygments==2.5.2
PyGObject==3.26.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-apt==1.6.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
reslib @ git+https://github.com/HotMaps/reslib.git@146ec1ea1384d92bd0aa9bd3e42ef8500f71d0f5
resutils @ git+https://github.com/HotMaps/resutils.git@4fd4bb933c86f03da865083ad002544ea818f619
scipy==1.5.2
six==1.14.0
SQLAlchemy==1.3.13
ssh-import-id==5.7
urllib3==1.22
vine==1.3.0
Werkzeug==0.16.0
zipp==3.3.0
